/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.text-normal-color{
    @apply text-gray-700
}
.tag{
    @apply text-xs inline-flex items-center font-bold px-3 py-1 bg-gray-200 text-gray-700 rounded-full m-1
}
.bg-gradient-blue{
   @apply bg-gradient-to-r from-green-400 to-blue-500 
}
.stroke{
    stroke-width:0.3px;
}
.h-screen-80{
    height: 80vh;
}
.h-screen-95{
    height: 95vh;
}

h1 {
    @apply font-bold text-3xl text-normal-color
}

h2 {
    @apply font-medium text-2xl font-semibold text-normal-color
}

h3{
    @apply text-xl font-bold mb-3 text-normal-color
}

p{
    @apply text-base text-normal-color
}